:root {
  --sun: rgb(255, 209, 122);
  --light-sun: rgb(255, 238, 206);
  --cyan: rgb(0, 176, 186);
  --deep-blue: rgb(0, 0, 60);
}

* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  outline: 1px dashed var(--sun);
  color: var(--sun);
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--cyan), 35%, var(--deep-blue));
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  border: 0;
}

.social-link:hover,
button:hover {
  filter: brightness(150%);
}

img {
  height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.jcenter {
  justify-content: center;
}

.flex.jevenly {
  justify-content: space-evenly;
}

.flex.jaround {
  justify-content: space-around;
}

.flex.jbetween {
  justify-content: space-between;
}

.flex.acenter {
  align-items: center;
}

.flex.aend {
  align-items: end;
}

.flex.astart {
  align-items: flex-start;
}

.flex.pad {
  padding: 1rem;
}

.flex.pad1 {
  padding: 8px;
}

.flex.pad2 {
  padding: 16px;
}

.flex.pad3 {
  padding: 24px;
}

.flex.pad4 {
  padding: 32px;
}

.flex.pad5 {
  padding: 48px;
}

.flex.pad6 {
  padding: 64px;
}

.flex.gap {
  gap: 1rem;
}

.flex.gap1 {
  gap: 8px;
}

.flex.gap2 {
  gap: 16px;
}

.flex.gap3 {
  gap: 24px;
}

.flex.gap4 {
  gap: 32px;
}

.flex.gap5 {
  gap: 48px;
}

.flex.gap6 {
  gap: 64px;
}

.social-link {
  height: 32px;
  width: 32px;
  text-align: center;
}

.social-link img {
  filter: invert(31%) sepia(99%) saturate(1.9);
}

.panel {
  width: 512px;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 60, 0), rgba(0, 0, 60, 0.5));
}
